  <h1>Sign In</h1>

                            <!--            <font color="red">${errorMessage}</font> -->
                            <form>
                                <p>Username</p>
                                <input type="text"  name="user_name" placeholder="Username">
                                    <p>Password</p>
                                    <input type="password" name="password" placeholder="Password"><br><br>
                                     
                 add this->            <a th:href="@{/user/dashboard}"><h2 style="font-size: 1rem; color: #2ecc71">Login</h2></a>         
                                        
                                        
                                                <div style="text-align: center">
                                                    
                                                    <a href="#">Forgot Username/Password?</a><br>
                                                        <a th:href="@{/user/signup}">Don't have an account?</a>
                                                </div>
                                                </div>
                                                </body>
                                                </html>
