<!DOCTYPE html>
<html lang="en">
<title>P-H20 DASHBOARD</title>
<link
        href="https://fonts.googleapis.com/css?family=Rancho&effect=3d|	shadow-multiple"
        rel="stylesheet"
/>
<link href="styles2.css" rel="stylesheet">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

<h1 class="font-effect-3d" style="text-align: center; color: yellowgreen; font-size: 100px;">
    Dashboard
</h1>

<title>Plant List</title>
<head>
<body>


<p>

<div class=" " style="text-align: center">


    <div class="container ">

        <h3 class="font-effect-3d" style="text-align: center; color: yellowgreen; font-size: 65px;"> Plant List
        </h3>
        <div class="flex flex-col justify-center items-center flex mr-4">


            <input class=" " name="text" id="text" placeholder=" " style="text-align: center"/>
            <input type="hidden" id="saveIndex"/>
            <button class=" " id="add-plant-btn">Add</button>
            <button onclick="window.location.href = 'calendar.html'" id="calendar-btn">View Your Calendar</button>
            <button class=" " style="display: none" id="save-plant-btn">Save</button>
        </div>

        <div id="plants"></div>
    </div>
</div>


<script src="./script2.js"></script>


</body>
